<%content_for :jymbo_title do%>
	<h1>New leaflet drawing</h1>
<%end%>
<%content_for :modal do%>
<div id="save-confirm"class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel-registration" data-dismiss="modal" aria-label="Cancel">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Save this shape?</h4>
      </div>
      <div class="modal-body">
        <%=form_for @location, id: 'save-area' do |f| %> 
	     <div class="form-group">
          <%= f.label :name %>:
		  <%= f.text_field :name, placeholder: ' Enter name here' %><br />
		  <%= f.hidden_field :area%>
		 </div>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel-registration" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="save-btn">Save shape</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%end%>
<%content_for :scripts do%>
<script>
$(document).ready(function (e) {
	var drawControl = new L.Control.Draw({
    position: 'topright',
    draw: {
        polyline: true,
        polygon: false,
        circle: false,
        marker: true
    },
    edit: {
        featureGroup: drawnItems,
        remove: true
    }
	});
	map.addControl(drawControl);
})
</script>
<%end%>
<div id="map"></div>
<%map(:center => {
  :latlng => [51.52238797921441, -0.08366235665359283],
  :zoom => 18
}) %>
